mat-card img {
    object-fit: cover;
    display: inline-flex;
    height: 80px;
    width: 80px;
    margin: 1vw 1vw;
}

mat-card {
    padding: 1vw;
	margin: 1vw 1vw;
    width: 50vw;
}
