.description {
  min-width: 250px;
  min-height: 130px;
  padding: 8px;
  margin: 1vw 1vw;
}

.description span {
  font-size: medium;
}

.flex-container {
  padding: 16px;
  margin: 1vw;
}

mat-card-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.content {
  padding: 16px;
}