<div>
    <div class="description">
        <mat-card class="mat-elevation-z5">
            <mat-card-content>
                <span> Today, most studies have shown that people lack knowledge about
                    places they have never visited or lived in. CountryTrivia gives you
                    the firsthand knowledge you need to know about a country. Simply enter
                    your name and the country you want to learn about. Read the country
                    cards and continue exploring as many places as you want. On the side,
                    have a look at the most trending countries that people are searching.
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="16px">
            <mat-card class="mat-elevation-z5">
                <mat-card-header>
                    <mat-card-title>
                        Fitsum Maru
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../assets/ethiopia.png">
                <mat-card-content>
                    <p> Software Engineer and Architect @ Bank of America </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="mat-elevation-z5">
                <mat-card-header>
                    <mat-card-title>
                        Sharon Velpula
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../assets/india.png">
                <mat-card-content>
                    <p> Technical Account Manager @ Amazon Web Services (AWS) </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="mat-elevation-z5">
                <mat-card-header>
                    <mat-card-title>
                        Samuel Haileselassie
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../assets/ethiopia.png">
                <mat-card-content>
                    <p>Software Engineer and Architect @ Bank of America </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>