header {
	position: sticky;
	top: 0;
	padding: 10px;
	width: 25%;
	height: auto;
	background-color: slategray;
	color: white;
}

#time {
	font-size: x-small;
	color: gray;
}

#messageInput {
	width: 500px;
	justify-content: center;
}