header {
	position: sticky;
	padding: 10px;
	width: 25%;
	background-color: slategray;
	color: white;
}

#recentSearches {
	background-color: lightskyblue;
	float: right;
	padding: 2em;
}

#searchResult {
	float: left;
}

#messageInput {
	width: 500px;
	justify-content: center;
}